JWK - check JsonSubTypes

In the class `org.ietf.jose.jwk.JWK`

RFC7518 sec. 6.3 is silent on how to differentiate between public and private key instances.

Can we marshal/unmarshal both using the FasterXML annotation?

Is this necessary or useful?

Public and private keys are distinguished by the presence of certain fields (a private key must have the `d` field and may have other additional fields listed in 6.3.2). 

It appears FasterXML is able to distinguish between `RsaPublicJwk` and `RsaPrivateJwk` *if* the `JsonSubTypes.Type` for `RsaPrivateJwk` class comes after the one for `RsaPublicJwk`, e.g.
```java
@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.PROPERTY, property = "kty")
@JsonSubTypes({
  @JsonSubTypes.Type(value = EllipticCurveJwk.class, name = "EC")
  , @JsonSubTypes.Type(value = RsaPublicJwk.class, name = "RSA")
  , @JsonSubTypes.Type(value = RsaPrivateJwk.class, name = "RSA")
  , @JsonSubTypes.Type(value = SymmetricJwk.class, name = "oct")}
)
```
This is because FasterXML tries each specified subtype in order and only tries another one if the current one fails. For example, for a JWK representing an RSA public key, the first subtype (`EllipticCurveJwk.class`) is eliminated by the `kty` field value. Then next candidate is `RsaPublicJwk.class`, which succeeds (all fields are mapped). If instead the candidate was `RsaPrivateJwk.class`, it would also succeed (a private key is a superset of fields in a public key) and `RsaPublicJwk.class` would not be attempted. 